<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-3.0.xsd">
			
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="Location" value="beans/database.properties"></property>
	</bean>
	
	<bean id="login" class="beans.Login">
	<property name="username" value="${db.username}"></property>
    <property name="password" value="${db.password}"></property>
	</bean>
	
		<bean id="std" class="beans.Student">
		<constructor-arg name="name" value="Harshitha"></constructor-arg>
		<constructor-arg name="regno" value="4666"></constructor-arg>
		<property name="name" value="Harshu"></property>
		<property name="regno" value="0466"></property>
		<property name="address" ref="addr"></property>
		</bean>
		
		<bean id="addr" class="beans.Address">
		<property name="street" value="Hitech "></property>
		<property name="city" value="Hyderabad"></property>
		</bean>
		
		<bean id="emp" class="beans.Employee" scope="prototype" init-method="start" destroy-method="stop">
  <property name="name" value="Harshu"></property>
		<property name="sal" value="666000"></property>
		<property name="skills">
		<list>
		<value>Java</value>
		<value>Oracle</value>
		<value>spring</value>
		</list></property>
 </bean>  	
		
		
		
		</beans>
